.page-header {
    background-color: #000000;
    margin-top: 5px;
    padding: 10px 50px 0px 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    width:70%;
    border-style: hidden;
}


